*site-packages
**/*site-packages
*site-packages/
**/*site-packages/

*build
**/*build
*build/
**/*build/

*out
**/*out
*out/
**/*out/

*months
**/*months
*months/
**/*months/


*cache
**/*cache
*cache/
**/*cache/


